<html>
    <head>
        <title>LessBad</title>
        <link rel="stylesheet" type="text/css" href="http://foodie.ekive.com/style.css" />
        
        <script type="text/javascript">
function formSubmit()
{
document.getElementById("frm1").submit();
}
</script>
        
    </head>
    <body>

       <div id="content">
            <!-- <img src="lessbadbanner.png" alt="" /> <br /><br /> -->

  				<h1>LessBad</h1>
            Let us help you decide what to eat!<br /><br />
             <form id="frm1" enctype="multipart/form-data" action="/nutrition/suggest" method="POST">
            Where are you going?  <input type="text" name="place" id="restaurant" /> <br /><br />
	    
	    What are you planning on eating?   <input type="text" name="item" id="food" /> <br /><br />
            
            {% csrf_token %}
            <input type="button" name="submit" id="submit"  value="Submit" onclick="formSubmit()"/>
              </form>
              
              
       </div>
    </body>
    
</html>
