<html>
    <head>
        <title>LessBad</title>
        <link rel="stylesheet" type="text/css" href="http://foodie.ekive.com/style.css" />
        
    </head>
    <body>

       <div id="content">
            <!-- <img src="lessbadbanner.png" alt="" /> <br /><br /> -->

  				<h1>LessBad</h1>
            Let us help you decide what to eat!<br /><br />
             <form action="" method="POST">
            Where are you going?  <input type="text" name="place" id="restaurant" /> <br /><br />
	    
	    What are you planning on eating?   <input type="text" name="item" id="food" /> <br /><br />
            
            {% csrf_token %}
            <input type="button" name="submit" id="submit" onclick="results();return false;" value="submit" />
              </form>
              
              
       </div>
    </body>
    <script type="text/javascript">
    
    function results() {
    	/*
    	var rest = document.getElementById('restaurant');
    	var rest_name = rest.value;
    	
    	var food = document.getElementById('food');
    	var food_name = food.value;
    	*/
    	
    	
        var restaurant = document.getElementById("restaurant").value;
        var table = "<html><head><title>";
        table += restaurant;
        table += "</title><link rel=\"stylesheet\" type=\"text/css\" href=\"http://foodie.ekive.com/style.css\" /></head><body>";
        table += "<div id=\"content\">";
        table += "<h1> You should get one of these: </h1>";
        table += "Hamburger - No Cheese (250 cal)<br /><br />";
        table += "Grilled Ranch Snack Wrap (270 cal)<br /><br />";
        table += "Chicken McNuggets (6pc) (280 cal)<br /><br />";
        table += "Southwest Salad w/ Grilled Chicken (320 cal)<br /><br />";
        table += "</div>";
        table += "</body></html>";
        var j = window.open('');
        j.document.write(table);
        j.document.close();
       
    }
        
    </script>
</html>
