<div id="footer">
    <p>
        &copy; {% now "Y" %} &ndash; Developed By <a href="https://videntity.com">Videntity Systems Inc.</a><br/>
        for the Community Education Group.   All rights reserved.
    </p>
</div>

{#{% if sql_queries %}#}
{#    <table class="tabledata">#}
{##}
{#    {% for query in sql_queries %}#}
{#    <tr class="{% cycle 'even-row' 'odd-row'%}">#}
{#        <td style="font-size:9px">{{ forloop.counter }}</td>#}
{#        <td style="font-size:9px" class="mono">{{ query.sql|escape }}</td>#}
{#        <td style="font-size:9px">{{ query.time }}</td>#}
{#    </tr>#}
{#    {% endfor %}#}
{#    #}
{#  </table>#}
{##}
{#</div>#}
{#{% endif %}#}